 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Background1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 113px auto 0;
  padding: 26px 51px 27px 50px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 347px 0 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 591px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -611px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
  line-height: 1.4;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin-top: 20px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -75px 122px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1.4;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: -19px 62px 0 auto;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -271px 558px 0 0;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 147px 0 0 558px;
}

.u-section-2 .u-image-2 {
  width: 325px;
  height: 325px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -364px auto 0 98px;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  line-height: 1.4;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: 90px auto 0 0;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 558px 0 0;
}

.u-section-2 .u-image-3 {
  width: 319px;
  height: 137px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -227px 98px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -80px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -14px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 454px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 502px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -410px;
    margin-left: 80px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 140px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-right: 442px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -258px;
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-2 .u-image-1 {
    width: 262px;
    height: 262px;
    margin-top: 74px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -30px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 234px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 282px;
  }

  .u-section-2 .u-image-2 {
    width: 275px;
    height: 268px;
    margin-top: -393px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 210px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 14px;
    margin-right: 222px;
  }

  .u-section-2 .u-image-3 {
    width: 177px;
    height: 76px;
    margin-top: -211px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2051px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 270px;
    margin-top: 65px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 74px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -473px;
    margin-right: 289px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 203px;
  }

  .u-section-2 .u-image-2 {
    width: 224px;
    height: 233px;
    margin-top: -507px;
    margin-left: -40px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 328px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 12px;
    margin-right: 233px;
    margin-left: -12px;
  }

  .u-section-2 .u-image-3 {
    width: 192px;
    height: 83px;
    margin-top: -354px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 319px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1756px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 43px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 98px;
    height: 98px;
    margin-top: -85px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 279px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -324px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 75px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-2 {
    width: 67px;
    height: 65px;
    margin-top: -756px;
    margin-right: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 732px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 75px;
    height: 32px;
    margin-top: -562px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 44px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 591px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-group-1 {
  width: 326px;
  min-height: 442px;
  background-image: linear-gradient(#c874d1, #c874d1);
  margin: 4px 17px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-3 .u-image-1 {
  width: 333px;
  height: 333px;
  margin: 0 -4px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: linear-gradient(#c874d1, #c874d1);
  font-weight: 700;
  font-size: 1rem;
  margin: 17px 14px 0 auto;
  padding: 8px 77px 10px 76px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-group-2 {
  width: 326px;
  min-height: 442px;
  background-image: linear-gradient(#c874d1, #c874d1);
  margin: 4px 17px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 24px 0;
}

.u-section-3 .u-image-2 {
  width: 333px;
  height: 333px;
  margin: 0 -4px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  background-image: linear-gradient(#c874d1, #c874d1);
  font-weight: 700;
  font-size: 1rem;
  margin: 17px 14px 0 auto;
  padding: 8px 77px 10px 76px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-group-3 {
  width: 326px;
  min-height: 442px;
  background-image: linear-gradient(#c874d1, #c874d1);
  margin: 4px 17px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 24px 0;
}

.u-section-3 .u-image-3 {
  width: 333px;
  height: 333px;
  margin: 0 -4px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  background-image: linear-gradient(#c874d1, #c874d1);
  font-weight: 700;
  font-size: 1rem;
  margin: 17px 14px 0 auto;
  padding: 8px 77px 10px 76px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 487px;
  }

  .u-section-3 .u-group-1 {
    min-height: 426px;
    width: 293px;
    margin-right: -1px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 311px;
    height: 311px;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 1px;
    padding-right: 62px;
    padding-bottom: 9px;
    padding-left: 60px;
  }

  .u-section-3 .u-group-2 {
    min-height: 426px;
    width: 293px;
    margin-right: -1px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 311px;
    height: 311px;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    border-style: none;
    margin-right: 1px;
    padding-right: 62px;
    padding-bottom: 9px;
    padding-left: 60px;
  }

  .u-section-3 .u-group-3 {
    min-height: 426px;
    width: 293px;
    margin-right: -1px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-3 {
    width: 311px;
    height: 311px;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 1px;
    padding-right: 62px;
    padding-bottom: 9px;
    padding-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-list-1 {
    width: 703px;
    margin: 37px auto 30px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 17px;
  }

  .u-section-3 .u-group-1 {
    width: 215px;
    min-height: 272px;
    margin-top: 2px;
    margin-right: 130px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 212px;
    height: 212px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
    padding-right: 26px;
    padding-left: 24px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 17px;
  }

  .u-section-3 .u-group-2 {
    width: 215px;
    min-height: 272px;
    margin-top: 2px;
    margin-right: 130px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 21px;
    margin-right: auto;
    padding-right: 26px;
    padding-left: 24px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 17px;
  }

  .u-section-3 .u-group-3 {
    width: 215px;
    min-height: 272px;
    margin-top: 2px;
    margin-right: 130px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 212px;
    height: 212px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 21px;
    margin-right: auto;
    padding-right: 26px;
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 36px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 346px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-1 {
    width: 154px;
    min-height: 233px;
    margin-right: 38px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-2 {
    width: 154px;
    min-height: 233px;
    margin-right: 38px;
  }

  .u-section-3 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.875rem;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-group-3 {
    width: 154px;
    min-height: 233px;
    margin-right: 38px;
  }

  .u-section-3 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.875rem;
    padding-right: 8px;
    padding-left: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1315px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1125px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-group-1 {
    width: 206px;
    min-height: 298px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 32px;
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-group-2 {
    width: 206px;
    min-height: 298px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 32px;
    padding-left: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-group-3 {
    width: 206px;
    min-height: 298px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-3 {
    padding-right: 32px;
    padding-left: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  width: 570px;
  margin: 28px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 243px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/PetchouLogo.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: -186px 0 0 223px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px 0 0 223px;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 29px auto 0 213px;
}

.u-section-4 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-list-2 {
  width: 570px;
  margin: 0 auto 60px;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 243px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

.u-section-4 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/CozmixLogo.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: -186px 0 0 223px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px 0 0 223px;
}

.u-section-4 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 29px auto 0 213px;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-list-1 {
    width: 703px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 423px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -161px;
    margin-right: 114px;
    margin-left: 241px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: -84px;
    margin-left: 241px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 19px;
    margin-left: 241px;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(210, 34, 21) !important;
  }

  .u-section-4 .u-list-2 {
    margin-top: -175px;
    margin-bottom: 42px;
    margin-left: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 570px;
    margin-right: 32px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 268px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 29px;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    margin-left: 223px;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
    margin-left: 223px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 107px;
  }

  .u-section-4 .u-list-2 {
    margin-top: -21px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 18px;
    margin-left: 28px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -179px;
  }

  .u-section-4 .u-list-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 29px 10px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 18px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -185px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 29px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 131px;
  }

  .u-section-4 .u-image-1 {
    width: 110px;
    height: 110px;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -93px;
    margin-right: -96px;
    margin-left: 119px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-right: -96px;
    margin-left: 119px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 7px;
    margin-right: 65px;
    margin-left: auto;
  }

  .u-section-4 .u-list-2 {
    margin-top: 9px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 125px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    width: 106px;
    height: 106px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -88px;
    margin-right: -72px;
    margin-left: 115px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: -72px;
    margin-left: 115px;
  }

  .u-section-4 .u-social-icons-2 {
    margin-top: 2px;
    margin-right: 69px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1872px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  width: 415px;
  margin: 60px auto 0;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 51px;
  min-height: 1631px;
  margin-top: 51px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }
}